/* CSS Document */

.login {
	background: #fff;
	width: 500px;
	height: 300px;
	margin: 0 auto;
	margin-top: 100px;
	margin-bottom: 20px;
	position: relative;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px #888;
	box-shadow: 0 0 5px #888;
	border-radius: 5px;
}
	.login h1 {
		font-size: 24px;
		padding: 20px 0 20px 0;
		text-align: center;
	}
	tr {
		
	}
	
.login_col0, .login_col1, .login_col2 {
	padding: 15px 0 15px 0;
	text-align: center;
	font-size: 18px;
}
.login_col0 {
	width: 100%;
	text-align: center;
	
}
.login_col1 {
	width: 200px;
	text-align: center;
}
.login_col2 {
	width: 250px;
	text-align: center;
}

